@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@theme {
  --font-sans: "Lato", system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}
